/* Fonts */
@font-face {
  font-family:'Raleway-Black';
  src: url(../font/Raleway-Black.ttf);
}

@font-face {
  font-family:'Raleway-Bold';
  src: url(../font/Raleway-Bold.ttf);
}

@font-face {
  font-family:'Raleway-ExtraBold';
  src: url(../font/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family:'Raleway-Light';
  src: url(../font/Raleway-Light.ttf);
}

@font-face {
  font-family:'Raleway-Medium';
  src: url(../font/Raleway-Medium.ttf);
}

@font-face {
  font-family:'Raleway-Regular';
  src: url(../font/Raleway-Regular.ttf);
}

@font-face {
  font-family:'Raleway-SemiBold';
  src: url(../font/Raleway-SemiBold.ttf);
}

@font-face {
  font-family:'Raleway-Thin';
  src: url(../font/Raleway-Thin.ttf);
}

:root {
  --default-font: "Raleway-Regular","Roboto", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway-Bold","Source Sans Pro",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}


/* Colors */
:root {
  --color-default: #fff;
  --color-primary: #000;
  --color-secondary: #DAA520;
  --color-neutra: #B3B3B3;
  --background-color: rgb(255,255,255);
  --box-shadow: rgba(0, 0, 0, 0.26) 0px 0.636953px 1.14652px -1.125px, rgba(0, 0, 0, 0.24) 0px 1.9316px 3.47689px -2.25px, rgba(0, 0, 0, 0.192) 0px 5.10612px 9.19102px -3.375px, rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
}

.dark-mode:root {
  --color-default: #000;
  --color-primary: #fff;
  --color-secondary: #DAA520;
  --color-neutra: #B3B3B3;
  --background-color: rgb(0,0,0);
  --box-shadow: rgba(255, 255, 255, 0.26) 0px 0.636953px 1.14652px -1.125px, rgba(255, 255, 255, 0.24) 0px 1.9316px 3.47689px -2.25px, rgba(255, 255, 255, 0.192) 0px 5.10612px 9.19102px -3.375px, rgba(255, 255, 255, 0.03) 0px 16px 28.8px -4.5px;
}

#logo {
  filter: invert(0);
}

.dark-mode  #logo{
  filter: invert(1);
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  scroll-behavior: smooth; /* Suaviza a rolagem */
  scroll-snap-type: y mandatory; /* Snap obrigatório na direção vertical */
  overflow-y: scroll; /* Habilita a rolagem */
  height: 100vh; /* Cada seção ocupa 100% da altura da viewport */
}

.container-custom {
  max-width: 624px; /* Limite máximo da largura */
  width: 100%; /* Ocupa 100% da largura disponível */
  padding: 0 10px 0 10px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

hr {
  border: 0;
  background-color: var(--color-primary);
  width: 7%;
  height: 3px;
  border-radius: 20%;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* ### DARK MODE */

.theme-toggle {
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-primary);
  transition: color 0.5s;
  margin-right: 8px;
}

.theme-toggle:focus {
  outline: none;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 40px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  color: var(--heading-color);
}

.header .logo span {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 34px;
  margin-left: 2px;
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  color: var(--color-default);
  background: var(--color-primary);
  font-family:'Raleway-Bold';
  font-size: 14px;
  padding: 8px 26px;
  border-radius: 20px;
  align-content: center;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--color-primary);
  background: var(--color-default);
  border: var(--color-primary) 2px solid;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;
  border-top: 1px solid var(--color-neutra);
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer .copyright {
  padding: 10px 0 40px 0;
}

.footer .credits p{
  color: var(--color-neutra);
  font-family:'Raleway-Medium';
  font-size: 12px;
}

.footer .credits a{
  color: var(--color-primary);
  text-decoration: none;
}

.footer .credits a:hover{
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: visible;
  opacity: 1;
  left: 50%; /* Centraliza o botão na horizontal */
  bottom: 15px; /* Fixa o botão na parte inferior da página */
  transform: translateX(-50%); /* Ajusta para que o botão fique realmente no centro */
  z-index: 99999;
  background-color: var(--color-primary);
  color: var(--color-default);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  transition: all 0.4s;
  padding: 5px 10px;
  font-family:'Raleway-ExtraBold';
  font-size: 12px;
  text-decoration: none;
}

.scroll-top i {
  color: var(--color-default);
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  scroll-margin-top: 100px;
  overflow: clip;
  padding-top: 120px;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: left;
  padding-bottom: 30px;
  position: relative;
  color: var(--color-primary);
}

.section-title h2 {
  font-family:'Raleway-SemiBold';
  font-size: 12px;
  color: var(--color-primary);
}

.section-title h2 span {
  border: var(--color-primary) 1px solid;
  padding: 5px;
  border-radius: 10px 5px 10px 5px;
}

.section-title p {
  font-family:'Raleway-Regular';
  font-size: 20px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  padding-top: 160px;
}

.hero h1 {
  font-size: 46px;
  font-family:'Raleway-Bold';
  color: var(--color-primary);
  padding-bottom: 40px;
}

.hero h1 span {
  font-family:'Raleway-Black';
}

.hero h2 {
  font-family:'Raleway-Regular';
  color: var(--color-primary);
  font-size: 20px;
}

.hero p span {
  font-family:'Raleway-Bold';
}

.hero .btn-get-started {
  color: var(--color-default);
  background: var(--color-primary);
  font-family:'Raleway-Bold';
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 20px;
}

.hero .btn-get-started:hover {
  color: var(--color-primary);
  background: var(--color-default);
  border: var(--color-primary) 2px solid;
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: var(--default-color);
  font-weight: 500;
}

.hero .btn-watch-video i {
  color: var(--accent-color);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: var(--accent-color);
}

.hero .btn-watch-video:hover i {
  color: color-mix(in srgb, var(--accent-color), transparent 15%);
}

.hero .animated {
  margin-bottom: 60px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 992px) {
  .hero .animated {
    max-width: 45%;
  }
}

@media (max-width: 991px) {
  .hero .animated {
    max-width: 60%;
  }
}

@media (max-width: 575px) {
  .hero .animated {
    max-width: 80%;
  }
}

@media (max-width: 640px) {
  
  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  background-color: var(--color-default);
  color: var(--color-primary);
  border: 0;
  padding: 12px 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.features .nav-link i {
  font-size: 56px;
}

.features .nav-link h4 {
  font-family:'Raleway-Bold';
  font-size: 14px;
  margin: 10px 0 0 0;
}

.features .nav-link:hover {
  color: var(--color-primary);
}

.features .nav-link:hover,
.features .nav-link.active {
  transition: 0.3s;
  background: var(--color-primary);
  color: var(--color-default) !important;
  border-color: var(--color-primary);
}

.features .nav-link:hover h4,
.features .nav-link.active h4 {
  color: var(--contrast-color);
}

.features .nav-link:hover i,
.features .nav-link.active i {
  color: var(--contrast-color) !important;
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 28px;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  font-family:'Raleway-Regular';
  padding-bottom: 10px;
  font-size: 18px;
  color: var(--color-primary);
}

.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: var(--accent-color);
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .content h3 {
  font-family:'Raleway-Bold';
  color: var(--color-primary);
  font-size: 34px;
}

.faq .content p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.faq .faq-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.faq .faq-container .faq-item {
  background-color: var(--color-default);
  position: relative;
  padding: 15px 0 15px 0;
  margin-bottom: 2px;
  box-shadow: 0px 5px 25px 0px var(--box-shadow);
  overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-family:'Raleway-Bold';
  color: var(--color-primary);
  margin-bottom: 0;
  font-size: 17px;
  transition: 0.3s;
  cursor: pointer;
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
  font-family:'Raleway-Regular';
  color: var(--color-primary);
  margin-bottom: 0;
  overflow: hidden;
}

.faq .faq-container .faq-item .faq-icon {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 22px;
  line-height: 0;
  transition: 0.3s;
  color: var(--accent-color);
}

.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
  color: var(--color-primary);
}

.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients .swiper {
  padding: 10px 0;
}

.clients .swiper-wrapper {
  height: auto;
}S

.clients .swiper-slide img {
  transition: 0.3s;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}