/* Fonts */
@font-face {
  font-family:'Montserrat-Black';
  src: url(../font/static/Montserrat-Black.ttf);
}

@font-face {
  font-family:'Montserrat-Regular';
  src: url(../font/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family:'Montserrat-Light';
  src: url(../font/static/Montserrat-Light.ttf);
}

@font-face {
  font-family:'Montserrat-Thin';
  src: url(../font/static/Montserrat-Thin.ttf);
}

/* Colors */
:root {
  --color-default: #fff;
  --color-primary: #000;
  --color-secondary: grey;
  --background-color: rgb(255,255,255);
  --background-gradiend: linear-gradient(180deg, rgba(255,255,255,0.5039164490861618) 0%, rgba(255,255,255,0.4986945169712794) 50%, rgba(255,255,255,0.5039164490861618) 100%); 
}

.dark-mode:root {
  --color-default: #000;
  --color-primary: #fff;
  --color-secondary: grey;
  --background-color: rgb(0,0,0);
  --background-gradiend: linear-gradient(180deg, rgba(0,0,0,0.5039164490861618) 0%, rgba(0,0,0,0.4986945169712794) 50%, rgba(0,0,0,0.5039164490861618) 100%);
}

/* ### GERAL */

*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

/* ### DARK MODE */

#logo {
  filter: invert(0);
}

.dark-mode  #logo{
  filter: invert(1);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--color-primary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1);
  margin: 10px;
}

.label .ball {
  background-color: var(--color-default);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon,
.fa-sun {
  color: var(--color-default);
}

.fa-moon{
  margin-left: 5px;
}

.fa-sun {
  margin-right: 5px;
}

/* ### MENU */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 30px 0 30px;
  z-index: 100;
  background-color: var(--color-default);
}

.header-logo a img{
  padding: 5px 0 0 0;
  width: 80px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  margin: 10px;
}

.menu-icon div {
  width: 25px;
  height: 2px; /* Espessura menor */
  background-color: var(--color-primary);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; /* Bordas arredondadas */
  margin-bottom: 6px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.mobile-menu {
  display: block;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-default);
  overflow: hidden; /* Para ocultar o conteúdo quando fechado */
  z-index: 100;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.mobile-menu ul li {
  text-align: center;
}

.mobile-menu ul li a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 18px;
  font-family: 'Montserrat-Black';
}

.mobile-menu .destaque a{
  background-color: var(--color-primary);
  color: var(--color-default);
  border-radius: 25px;
  padding: 15px;
}

.mobile-menu.show {
  height: 100%; /* Altura suficiente para acomodar os links */
  transition: height 0.5s ease-in; /* Efeito suave de drop down */
  display: flex;
  justify-content: center;
}

/* ### CARROSEL */
.carousel{
  height: 100vh;
  margin-top: -50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  background: var(--background-gradiend);
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: var(--color-primary);
}
.carousel .list .item .author{
  font-family: 'Montserrat-Light';
  font-weight: bold;
  letter-spacing: 10px;
  padding: 10px 0 10px 0;
}
.carousel .list .item .title,
.carousel .list .item .topic{
  font-family: 'Montserrat-Black';
  font-size: 5em;
  font-weight: bold;
}
/* .carousel .list .item .topic{
  color: var(--color-default);
} */
.carousel .list .item .des{
  font-family: 'Montserrat-Regular';
  font-size: 15px;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: var(--color-primary);
  color: var(--color-default);
  letter-spacing: 3px;
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  padding: 10px;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: bold;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: var(--color-primary);
  background: var(--background-color);
  background: var(--background-gradiend);
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0 5px 0;
}
.thumbnail .item .content .title{
  font-family: 'Montserrat-Black';
  font-size: 14px;
}
.thumbnail .item .content .description{
  font-family: 'Montserrat-Regular';
  font-size: 14px;
}
/* arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-default);
  border: none;
  color: var(--color-primary);
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: var(--color-primary);
  color: var(--color-default);
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .author{
    font-size: 15px;
  }
  .carousel .list .item .content .title{
      font-size: 50px;
  }
  .carousel .list .item .des{
    font-size: 12px;
  }
  .carousel .list .item .buttons{
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 30px;
    margin-top: 15px;
  }
  .carousel .list .item .buttons button,
  .carousel .list .item .buttons button:nth-child(2){
    font-size: 10px;
  }
  .thumbnail .item{
    width: 110px;
    height: 180px;
  }
  .thumbnail .item .content .title,
  .thumbnail .item .content .description{
    font-size: 10px;
    font-weight: bold;
  }
  .arrows button{
    width: 30px;
    height: 30px;
  }
  .arrows button i{
    font-size: 10px;
  }
}